[submodule "Interfaceing"]
	path = Interfaceing
	url = https://github.com/mohamedhaggag123/Interfaceing
[submodule "Interfacing-"]
	path = Interfacing-
	url = https://github.com/abkr97/Interfacing-
[submodule "mayar"]
	path = mayar
	url = https://github.com/mayar153/interfacing
